:root {
    --speed: 5;
}

body {
    background-color: rgb(192, 245, 20);
}

.machine {
    background-color: rgb(36, 14, 136);
    border: solid rgb(152, 138, 201) 5px;
    height: 300px;
    width: 900px;
    margin: 50px;
    align-content: center;
    display: flex;
}

.slot {
    height: 250px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
    background-color: rgba(5, 5, 5, 0.993);
    border: solid rgb(152, 138, 201) 5px;
    text-align: center;
    font-size: 80pt;
    line-height: 250px;
}

#inpSpeed {
    font-size: 30pt;
    margin-left: 30px;
    width: 50px;
}

.slot>.value {
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s / var(--speed));
}

.set {
    font-size: 30pt;
    height: 35pt;
    width: 500pt;
    margin-left: 30px;
    font-weight: 1000;
    font-stretch: expanded;
}

#spinbtn {
    
    background-color: rgb(49, 6, 102);
    height: 35pt;
    width: 500pt;
    margin-left: 30px;
    font-size: 20pt;
    font-weight: 1000;
    font-stretch: expanded;
}

#stopbtn {
    
    background-color: rgb(245, 3, 3);
    height: 35pt;
    width: 500pt;
    margin-left: 30px;
    font-size: 18pt;
    font-weight: 1000;
    font-stretch: expanded;
}

#refresh {
    
    background-color: rgb(3, 233, 15);
    height: 35pt;
    width: 500pt;
    margin-left: 30px;
    font-size: 18pt;
    font-weight: 1000;
    font-stretch: expanded;
}

@keyframes slotspin {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(200px);
    }
}
